{% extends 'base.html' %}

{% block head %}
    <script src="https://kit.fontawesome.com/0d0e7ded81.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atendente_pacientes.css') }}">
{% endblock %}
{% block body %}
    <div class='head-page'>
        <h1>Pacientes</h1>
        <button onclick="location.href = '/cadastrar'">Adicionar Paciente</button>
    </div>
    <div>
        <table>
            <thead>
                <tr class='head-table'>
                    <th class="id"> ID </th>
                    <th> Nome </th>
                    <th> Descrição </th>
                    <th> Ações </th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td> {{ paciente.id }} </th>
                        <td> {{ paciente.nome }} </th>
                        <td> {{ paciente.descricao }} </th>
                        <td>
                            <form action="/deletar/{{ paciente.id }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este paciente?')">
                                <button class='icone' type="submit"> 
                                    <i class='fas fa-trash-alt' title="Deletar paciente." style="color: red;"></i>
                                </button>
                                <button class="icone">
                                    <i class="fa-solid fa-file" title="Adicionar paciente na fila." style="color:blueviolet"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
