<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='chamadaPaciente.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="container font-montserrat">
            <div class="row1">
                <div class="block text-center">
                    <span class="title ">CONSULTÓRIO</span>
                    <span class="text font-consultorio">04</span>
                </div>
                <div class="block">
                    <span class="title text-center">ÚLTIMAS CHAMADAS</span>
                    <span class="text"></span>
                </div>
                <div class="block">
                    <span class="title text-center">FILA</span>
                    <span class="text"></span>
                </div>
            </div>
            <div class='row2 '>             
                <div class="block text-center">
                    <span class="title">PACIENTE</span>
                    <span class="text">Bryan Oliveira Carvalho aaaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaa aaaaaaaaaaa de Souza</span>
                </div>
                <div class="block text-center ">
                    <span class="title">PROFISSIONAL</span>
                    <span class="text">Jair Fonseca dos Santos Silva Ferreira Pinto de Deus</span>
                </div>
            </div>
        </div>
    </body>
</html>
