<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/chamadaPaciente.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="{{ url_for('static', filename='scripts/chamadaPaciente.js') }}"></script>
    </head>
    <body>
        <div class="container font-montserrat">
            <div class="row1">
                <div class="block text-center">
                    <span class="title">CONSULTÓRIO</span>
                    <span class="text font-consultorio" id="consultorio">  </span>
                </div>
                <div class="block">
                    <span class="title text-center">ÚLTIMAS CHAMADAS</span>
                    <span class="text lastCalls">
                        <table>
                            <thead>
                                <tr class='lastCallsHeader'>
                                    <th>Consultório</th>
                                    <th>Paciente</th>
                                </tr>
                            </thead>
                            <tbody class="lastCallsBody" id="lastCalls">

                            </tbody>
                        </table>
                    </span>
                </div>
            </div>
            <div class="row2">
                <div class="block text-center">
                    <span class="title">PACIENTE</span>
                    <div class="text">  
                        <span class="break-text" id="namePatient">

                        </span>
                    </div>
                </div>
                <div class="block text-center">
                    <span class="title">PROFISSIONAL</span>
                    <span class="text" id="nameProfissional">  </span>
                </div>
            </div>
        </div>
    </body>
</html>
